---
import Nav from '../components/Nav.astro';
import Profile from '../components/Profile.astro';
import Content from '../components/Content.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<Nav alias="Work"/>
	<div class="container">
		<Profile />
		<Content>
			<h1>Portfolio</h1>
			<nav>
				<ul>
					<li class="selectOption">
						All
					</li>
					<li>
						My projects
					</li>
					<li>
						Participated projects
					</li>
				</ul>
			</nav>
			<a href="https://github.com/afordigital/favicon-generator" target="_blank">
				<section class="projects" >
					<img src="/images/projects/FaviconGenerator.png" alt="favicon">
					<p>Participated proyects</p>
					<h3>Favicon Generator</h3>
				</section>
			</a>
			
		</Content>
	</div>
</Layout>

<style>

.container {
	display: flex; 
	justify-content: center;	
	column-gap: 0.5rem;
}
h1{
	font-weight: 500;
	margin-bottom: 20px;
	margin-top: 20px;
  	font-size: 40px;
}
li{
	left: 500px;	
	list-style:none;
	display: inline-block;
	padding: 10px;
	padding-left: 0;
	color: #57657A;
	font-weight: 550;
	margin-right: 15px;
	padding-right: 0;
}
li:nth-child(3){
	margin-right: 0;
	padding-right: 0;
}
ul{
	padding-right: 0;
	padding-left: 0;
	cursor: pointer;
	margin-left: 480px;
	margin-right: 0;
	width: 328px;
}

.selectOption{
	color: #FA5252;
}
.projects{
	width: 317px;
	height: 200px;
	background-color: #FFE3BF;
	border-radius: 8px;

}
.projects img{
	width: 300px;
	height: 150px;
	margin:8px;
	margin-bottom: 0;
	border-radius: 8px;
}
p {
	margin-top:-7px;
	padding-left: 5px;
	margin-left: 5px;
	margin-bottom: 0;
	font-size: 10px;
}
h3{
	margin-left: 5px;
	margin-bottom: 0;
	padding-left: 5px;
	margin-top:-7px;
	font-weight: 400;
	font-size: 18px;
}
a{
	display: inline-block;
	text-decoration: none;
	color: black;
}
</style>