---
const textURLs = [
  {alias: "Home", path: "/", text: "ABOUT ME"},
  {alias: "Resume", path: "/resume", text: "Resume"},
  {alias: "Work", path: "/work", text: "Work"},
  {alias: "Contact", path: "/contact", text: "Afor troncha"}
]
const currentPath = Astro.url.pathname;
---

<article>
  {
    textURLs.map(item => (
      <h1> 
        {currentPath === item.path? ` ${item.text}` : "1"}
      </h1>
    ))
  }
  <div></div>
</article>


<style>
article{
	width: 940px;
	height: 700px;
	background-color: white;
	border: 2px solid black;
	border-radius: 20px;
}
.masivo1{
  width: 90px;
  height: 90px;
  background-color: orange;
}
.masivo2{
  width: 40px;
  height: 40px;
  background-color: blue;
}
.masivo3{
  width: 40px;
  height: 40px;
  background-color: red;
}
.masivo4{
  width: 40px;
  height: 40px;
  background-color: green;
}
</style>