<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
   <aside class="card">
    <h1>Laura Nicole</h1>
    <h5>FrontEnd Developer</h4>
   </aside>
</body>
</html>