

<aside class="card">
    <img src="/images/avatar.png" alt="avatar" id="avatar">
    <div class="_allCard">
        <h1>Laura Nicole</h1>
        <h5>FrontEnd Developer</h5>
        <div class="container">
            <div class="socials">
            
            </div>
            <div class="socials">
               
            </div>
            <div class="socials">
               
            </div>
        </div>
        <section class="_desc">
            <p class="_textDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu neque dapibus diam maximus placerat quis ut nisi. Suspendisse lobortis vulputate odio, a porttitor lectus suscipit at. Sed efficitur turpis at est mattis, a convallis nulla consequat. Duis auctor et leo ut placerat. Sed eget faucibus turpis. Nulla vitae lobortis magna. Nulla semper vestibulum massa sit amet efficitur.</p>
            <span id="resume"><img src="/icons/Vector.svg" alt="download" id="_download">Download Resume</span>
        </section>
    </div>
    
</aside>



<style>
    h1{
	transform: translate(0%, -40%);
}
h5{
	transform: translate(0%, -185%);
	color: gray;
}
li {
    list-style: none; 
	
}
span{
	position: relative;
	margin: 0;
}

aside{
	height: 700px;
	width: 400px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0px 0px 2px 1px #e1e1e1;

}
.card{
	text-align: center;
	transform: translate(55%, 10%);
	border: 2px solid black;
}
.container {
    display: flex;
    justify-content: center; /* Aligns the items horizontally (centered) */
    align-items: center; /* Aligns the items vertically (centered) */
    gap: 10px; /* Optional: Adds space between the divs */
}

.socials {
    width: 65px; /* Set a fixed width or use your desired width */
    height: 65px; /* Set a fixed height or use your desired height */
    background-color: #F2F5F9; /* Optional: For better visibility */
	border-radius: 9px;
	transform: translate(0%, -30%);
}

._desc{
	width: 350px;
	height: 360px;
	background-color: #F2F5F9;
	margin:25px;
	border-radius: 20px;
}
._desc p{
	word-wrap: break-word; /* Rompe las palabras largas */
	overflow-wrap: break-word;
	margin: 26px;
	padding-top: 26px;
	
  
}
#avatar{
	
	transform: translate(0%, -50%);
}
._allCard{
	transform: translate(0%, -20%);
}
#resume{
	width: 285px;
	height: 44px;
	background-image: linear-gradient(90deg, rgba(255,156,26,1) 0%, rgba(232,5,5,1) 95%);
	padding: 12px;

	padding-right: 18px;
	color:white;
	font-weight: 600;
	border-radius: 20px;
	transform: translate(20%,55%);
}
#_download{
	padding-right: 12px;
	padding-left: 12px;
	padding-bottom: -8px;
	transform: translate(0%, 5%);
}

</style>