

<aside class="card">
    <img src="/images/avatar.png" alt="avatar" id="avatar">
    <div class="_allCard">
        <h1>Laura Nicole</h1>
        <h5>FrontEnd Developer</h5>
        <div class="container">
            <div class="socials">
            
            </div>
            <div class="socials">
               
            </div>
            <div class="socials">
               
            </div>
        </div>
        <section class="_desc">
            <p class="_textDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu neque dapibus diam maximus placerat quis ut nisi. Suspendisse lobortis vulputate odio, a porttitor lectus suscipit at. Sed efficitur turpis at est mattis, a convallis nulla consequat. Duis auctor et leo ut placerat. Sed eget faucibus turpis. Nulla vitae lobortis magna. Nulla semper vestibulum massa sit amet efficitur.</p>
            <span id="resume"><img src="/icons/Vector.svg" alt="download" id="_download">Download Resume</span>
        </section>
    </div>
    
   </aside>