

<aside class="card">
    <img src="/images/avatar.png" alt="avatar" id="avatar">
    <div class="_allCard">
        <h1>Laura Nicole</h1>
        <h5>FrontEnd Developer</h5>
        <div class="container">
			<a href="https://bsky.app/profile/nicoledev.bsky.social" target="_blank">
				<div class="socials">
					<img src="/icons/logos/bluesky.svg" alt="Bluesky" class="sc">
				</div>
			</a>
            <a href="https://www.linkedin.com/in/laura-nicole/" target="_blank">
				<div class="socials">
					<img src="/icons/logos/linkedin.svg" alt="linkedin">
				</div>
			</a>
			<a href="https://github.com/LauraNicole449" target="_blank">
				<div class="socials">
					<img src="/icons/logos/github.svg" alt="github">
				</div>
			</a>
           
        </div>
        <section class="_desc">
            <p class="_textDesc">
				I'm Nicole, passionate about learning and growing in HTML, CSS, and JavaScript. I believe in the power of creativity and strive to make a difference in the tech world. I'm always exploring new ways to improve my skills and share what I've learned with others. My goal is to connect with like-minded people and create work that has a positive impact.</p>
        </section>
    </div>
    
</aside>



<style>
 h1{
	transform: translate(0%, -40%);
}
h5{
	transform: translate(0%, -185%);
	color: gray;
}
li {
    list-style: none; 
	
}
span{
	position: relative;
	margin: 0;
}

aside{

	height: 775px;
	width: 400px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0px 2px 8px 2px #e1e1e1;

}
.card{
	text-align: center;
	
}
.container {
    display: flex;
    justify-content: center; /* Aligns the items horizontally (centered) */
    align-items: center; /* Aligns the items vertically (centered) */
    gap: 10px; /* Optional: Adds space between the divs */
}

.socials {
    width: 65px; /* Set a fixed width or use your desired width */
    height: 65px; /* Set a fixed height or use your desired height */
    background-color: #F2F5F9; /* Optional: For better visibility */
	border-radius: 9px;
	transform: translate(0%, -30%);
}
.sc{
	padding-top: 6px;
	padding-left: 1px;
}
.socials img{
	margin-top: 15px;
	width: 35px;
}
._desc{
	width: 350px;
	height: 420px;
	background-color: #F2F5F9;
	margin:25px;
	border-radius: 20px;
}
._desc p{
	text-align: left;
	word-wrap: break-word; /* Rompe las palabras largas */
	overflow-wrap: break-word;
	margin: 36px;
	padding-top: 36px;
	line-height: 30px;
	margin-bottom: 60px;
  
}
#avatar{
	
	transform: translate(0%, -50%);
}
._allCard{
	transform: translate(0%, -20%);
}


</style>