<!doctype html>
<html lang="en">
	<head>
		<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

	</head>
	<body>
		<slot />
	</body>
</html>

<style>
body {
    margin: 0;
    color: black;
	background-color: #F2F5F9;
	font-family: "Raleway";
}
</style>